@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #000;
  color: #e5e7eb;
  font-family: ui-sans-serif, system-ui, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
